
:root{
    --main-color : red;
    --font-family: 'Poppins', sans-serif;

}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none !important;
    list-style: none;
}

body {
    color: #00000a;
    line-height: 1.3;
    font-weight: 400;
    font-size: 14px;
    font-family:  var(--font-family);
    background-color: rgb(241, 241, 241);
    overflow-x: hidden !important;
    position: relative;
    min-height: 100vh;
}
section{
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family);
}

p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
    word-spacing: 1px;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

span, a, a:hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.section-head {
    margin-bottom: 40px;
}
.section-head h4 {
    position: relative;
    line-height: 1;

    letter-spacing: 1px;
    font-size: 30px;
    font-weight: 400;

}

.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}

.section-padding {
    padding: 50px 0;
}

.hr-style{
    border: 1px solid grey;
}

.add-product .form-field{
    height: 40px;
    width: 300px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.add-product label{
    font-size: 15px;
    width: 100px;
    text-align: left;
}

/*.add-product .form-field:focus{*/
/*    box-shadow: 8px 10px 22px -8px rgba(255,66,183,0.53);*/
/*    -webkit-box-shadow: 8px 10px 22px -8px rgba(255,66,183,0.53);*/
/*    -moz-box-shadow: 8px 10px 22px -8px rgba(255,66,183,0.53);*/
/*    background: #FFFFFF;*/
/*}*/

.product-info{
    margin-bottom: 2px;
}

.delete-checkbox{
    float: left;
    margin: 10px 0 0 10px;
}

.description{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 50px;
}

.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
}

.is-invalid{
    color: red;
}

.invalid-field{
    border-color: red;
}
